#folders

# ignores root files & directories. Except for Code subdirectory.
/*
/*/
!/Code/

/Code/ui-x3
/Code/sdks
/Code/x3/db_conn/Profile/
/Code/Tools/MaxCryExport/Intermediate
/Code/Tools/MaxCryExport/Debug
/Code/Tools/LibTIFF/libTIFF/Intermediate
/Code/Tools/LibTIFF/libTIFF/Debug
/Code/Tools/WM22Pro_SourceLicense/BuildResults
/Code/Tools/WM22Pro_SourceLicense/Bin
/Code/Tools/WM22Pro_SourceLicense/BinTemp
/Code/Tools/Civ4MapGen/CvGameCoreDll/Debug
/Code/Tools/SDKs/maxsdk
/Code/Solutions/Intermediate
/Code/EngineStandalone
/Code/x3/protocol/x3packet/p_version.cpp
/Code/Server/*/pre_build.cpp
/Code/Game/*/pre_build.cpp
/Code/Game/*/x3_pre_build.cpp
/Code/x3/protocol/generated
/Code/Tools/SDKs/maxsdk
/Code/Solutions/Intermediate/ResourceCompiler*
/Code/Tools/LibTIFF/libTIFF/libTIFF.lib
/Code/Tools/LibTIFF/libTIFF/libTIFF.exp
/Code/Tools/PRT/PRT.lib
/Code/Tools/LibT
/Code/Tools/LibTIFF/libJPEG/Release/libJPEG.lib
/Code/Solutions/Release/libZLIB.lib
/Code/Solutions/Debug
/Code/Tools/FaceAnim/Debug
/Code/Tools/FaceAnim/FaceAnim/Release
/Code/Tools/LibTiff
/Code/Tools/Photobump/Debug
/Code/Tools/Photobump/Release
/Code/Tools/FaceAnim/FaceAnim/Debug
/Code/Tools/FaceAnim/FaceAnim/Release

#files
!.gitattributes
*.opensdf
*.log
*.tlog
*.cfg
!Code/Server/db/config/*.cfg
!Code/Server/db/lobby/*.cfg
!Code/Server/db/world/*.cfg
*.internalcfg
*.internalmedievalcfg
*.internalrenaissancecfg
*.dmp
*.user
*.ncb
*.suo
*.aps
*.obj
*.bmp
*.ipch
*.pch
TempHeightmapPreview.bmp
error.bmp
breakpoints.lst
BuildLog.htm
*.pdb
*.idb
*.manifest
gfxlicense.txt
Direct3DLog.txt
*.bak
*.bat
*.mycfg
consolecommandsandvars.txt
*.sdf
all_cpp.exe
*.vcproj_backup
*.vcxproj_backup
*.crash
*.devtestcfg
patch.g
quit_servers.exe
*.pyc
patch_manager.sqlite3
*.properties
Log.txt
*.lastbuildstate
*.unsuccessfulbuild
*.cache
log4*.xml
bot*.xml
Code/Tools/CrySCompileServer/CrySCompileServer/CrySCompileServer.sln
*.i
#google protocol buffer
*.pb.h
*.pb.cc
!/Code/x3/x3protocol/common/proto/pre_build.bat
!/Code/x3/x3protocol/server/proto/pre_build.bat
/Code/x3/lib
*.tmp
animation_graph_report.txt
/Code/Tools/XSICryExport/Generated_BuildInfo.h
